<div class="container mt-4">

    <form action="" class="form-group mb-3">
        <input type="text" placeholder="Buscar" class="form-control">
        <button class="btn btn-primary" routerLink="/agregar-clientes"> Agregar cliente</button>
    </form>


    <div class="row">
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gregorio Avila</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Juan Montalvo. Alegria mz 311 Villa 21</h6>
                    <a href="#" class="card-link">Agregar</a>
                    <a href="#" class="card-link">Información</a>
                </div>
            </div>
        </div>
    </div>
</div>